<div id="gatoProdutos" class="row">
    
    <div class="col">
        <h2>Produtos para seu gatinho</h2>
        <img class="img-fluid" src="../../../assets/img/Banner - Gato - 1.png" alt="">
    </div> 
</div>
<br>
    <h1 class="my-3 text-primary">
        Lista de Produtos
        <button type="button" routerLink="/produtos/cadastrar-produto" class="btn ntn-success mt-2 float-right">Cadastrar</button>
    </h1>
    
    <div class="card shadow">
        <table class="table.table.table-responsive.table,striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Validade</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let prod of listaProdutos">
                  
                        <td>{{ prod.id }}</td>
                        <td>{{ prod.nome }}</td>
                        <td>{{ prod.validade | date: "shortDate" }}</td>
                        <td>{{ prod.precoProduto | currency: "BRL" }}</td>
                  
                    <td>
                        <button class="btn btn-warning">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger ml-2">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
