<h1>Seja bem vindo ao PetRepet Store, a loja do seu Pet!</h1>
<div id="gatoCachorro" class="row">
    
    <div class="col">
        <img class="img-fluid" src="../../../assets/img/gato-e-cachorro.jpg" alt="">
    </div>
</div>
<div id="cachorroProdutos" class="row">
    
    <div class="col">
        <h2>Produtos para seu cãozinho</h2>
        <img class="img-fluid" src="../../../assets/img/kit-pet-cachorro-7-itens.jpg" alt="">
    </div> 
</div>
<div id="gatoProdutos" class="row">
    
    <div class="col">
        <h2>Produtos para seu gatinho</h2>
        <img class="img-fluid" src="../../../assets/img/Banner - Gato - 1.png" alt="">
    </div> 
</div>

